"""
title: {{TITLE}}
author: Local AI
version: 1.0.0
license: MIT
description: {{DESCRIPTION}}
"""

import json
import os
from urllib.error import HTTPError, URLError
from urllib.request import Request, urlopen


class Tools:
{{METHODS}}
